<footer class="footer">



  <div class="footer-top">
    <div class="footer-top__container">
      <div class="footer-top__social">
        <a href="#" class="footer-top__social__link" target="_blank">
          <img src="./assets/img/facebook.svg" alt="facebook">
        </a>
        <a href="#" class="footer-top__social__link" target="_blank">
          <img src="./assets/img/instagram.svg" alt="instagram">
        </a>
        <a href="#" class="footer-top__social__link" target="_blank">
          <img src="./assets/img/pinterest.svg" alt="pinterest">
        </a>
      </div>

      <div class="footer-top__nav">
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <img src="./assets/img/vtex.svg" alt="vtex">
            <img src="./assets/img/selo-ebit.svg" alt="selo ebit">
          </li>
        </ul>
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <h3 class="footer-top__title">INSTITUCIONAL</h3>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">A Marca</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">lojas</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Contato</a>
          </li>
        </ul>
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <h3 class="footer-top__title">Informações</h3>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Formas de Pagamento</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Trocas e Devoluções</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Cuidados com o Produto</a>
          </li>
        </ul>
        <ul class="footer-top__list">
          <li class="footer-top__item">
            <h3 class="footer-top__title">Conheça</h3>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Franquias e Multimarcas</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Trabalhe com a Gente</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Procon-RJ</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-newsletter">
      <h3 class="footer-newsletter__title">Asssine nosso news</h3>
      <form class="form" [formGroup]="newsletterForm" class="footer-newsletter__form">
        <app-input id="name" label="Nome" message="Campo obrigatório">
          <input type="text" placeholder="Nome" formControlName="name" class="form__input" />
        </app-input>
        <app-input id="email" label="E-mail" message="Campo obrigatório">
          <input type="email" placeholder="E-mail" formControlName="email" class="form__input" />
        </app-input>
      </form>
    </div>
  </div>

  <app-footer-bottom></app-footer-bottom>

</footer>
