@import '~src/assets/styles/mixins';

$background-color: #de8f75;
$color-grey: #aeb6c1;
$color-link: #202020;

$screen-desktop: rem(768);
$screen-desktop-xl: rem(1200);

.footer {
  position: relative;

  // * footer newsletter

  &-newsletter {
    @media (min-width: $screen-desktop) {
      width: rem(293);
      height: rem(293);
      border-radius: 50%;
      background: #fff;
      border: 2px solid #aeb6c1;
      position: absolute;
      right: rem(30);
      top: rem(-100);
      overflow: hidden;
    }

    &__form {
      margin: rem(20) auto;
      width: 70%;
    }

    &__title {
      text-align: center;
      text-transform: uppercase;
      margin-top: rem(40);
      color: #202020;
      font-size: rem(16);
    }
  }

  // * footer top
  &-top {
    margin-top: rem(110);
    border-top: 2px solid #aeb6c1;
    padding-bottom: rem(16);

    &__container {
      width: 90%;
      margin: rem(16) auto rem(55);
    }

    &__social {
      padding-top: rem(10);

      @media (max-width: $screen-desktop) {
        text-align: center;
      }

      &__link:not(:last-child) {
        margin-right: rem(30);
      }
    }

    &__nav {
      margin: rem(16) 0;
      text-align: center;

      @media (min-width: $screen-desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: start;
        width: 80%;
      }

      @media (min-width: $screen-desktop-xl) {
        display: flex;
        width: 100%;
      }
    }

    &__list {
      @media (min-width: $screen-desktop) {
        margin-right: rem(62);
      }

      img:not(:last-child) {
        margin-right: rem(30);
      }
    }

    &__item {
      margin: rem(10) 0;
    }

    &__title {
      color: $color-grey;
      font-weight: bold;
      font-size: rem(12);
      text-transform: uppercase;
    }

    &__link {
      color: $color-link;
      font-weight: normal;
      text-decoration: none;
      transition: opacity 0.2s;
      font-size: rem(14);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
